<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Pets</title>
</head>
<body>

<div class="container p-5 my-5 border">

  <div class="text-center">
<h1 class="display-2">Pets list</h1>
<a th:href="@{/pets/new}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add New Pet</a>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-light table-hover" border="1px">
      <thead class="table-dark" >
  <tr>
    <th>ID</th>
    <th>Pet Type</th>
    <th>Pet Breed</th>
    <th>Actions</th>
  </tr>
      </thead>

  <p th:if="${pets} != null" th:text="|Number of available pets: ${totalElements}|"></p>

  <tr th:if="${#lists.isEmpty(pets)}">
    <td colspan="4">The pets list is empty</td>
  </tr>
  <tr th:each="pet : ${pets}">
    <td scope="row" th:text="${pet.id}">ID</td>
    <td th:text="${pet.petType}">Pet Type</td>
    <td th:text="${pet.petBreed}">Pet Breed</td>
    <td class="text-center">
      <th:block th:with="id=${pet.id}">
        <a th:href="@{'/pets/update/' + ${id}}" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Update</a>
        <a th:href="@{'/pets/delete/' + ${id}}" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Delete</a>
      </th:block>
    </td>
  </tr>
</table>

    <div class="text-center">
      <h3> Page [[${currentPage}]] / [[${totalPages}]]</h3>
    </div>

    <ul class="pagination justify-content-center d-flex gap-3">
      <div th:if="${currentPage} > 1" th:with="pageNo=${currentPage - 1}">
        <li class="page-item"><a class="page-link" th:href="@{'/pets/page/' + ${pageNo}}">Previous page</a></li>
      </div>

      <div th:if="${totalPages} > ${currentPage}" th:with="pageNo=${currentPage + 1}">
        <li class="page-item"><a class="page-link" th:href="@{'/pets/page/' + ${pageNo}}">Next page</a></li>
      </div>

    </ul>

<a th:href="@{/}" class="btn btn-outline-dark" role="button" aria-pressed="true"> Back to HOME </a>
  </div>

</div>
</body>
</html>