<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Add new pet owner</title>
</head>
<body>

<div class="container p-5 my-5 border">
  <div class="row align-items-center justify-content-between">

    <div class="col-md-6">
      <h2 class="display-2">Create new owner</h2>

      <form action="#" method="POST" th:action="@{/owner/}" th:object="${owner}">
        <div class="form-group my-3">
          <label for="firstName"><strong>First Name:</strong></label>
          <input class="form-control" type="text" th:field="*{firstName}" placeholder="ex: Sanan" id="firstName"/>
        </div>
        <div class="form-group my-3">
          <label for="lastName"><strong>Last Name:</strong></label>
          <input class="form-control" type="text" th:field="*{lastName}" placeholder="ex: Mardanli" id="lastName"/>
        </div>
        <div class="form-group my-3">
          <label for="pets"><strong>ID of the pet:</strong></label>
          <input class="form-control" type="text" th:field="*{pets}" placeholder="ex: 1, 3" id="pets"/>
        </div>

        <div class="form-group my-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

      <a onclick="history.go(-1)" class="btn btn-sm btn-outline-dark" role="button" aria-pressed="true">Back to the list</a>
    </div>

    <div class="col-md-4">
      <h3>Available pets</h3>
      <option
              th:each="pet : ${pets}"
              th:text="${pet.id} + ': ' + ${pet.petType} + ': ' + ${pet.petBreed}"
              th:value="${pet.id}">
      </option>
    </div>

  </div>
</div>

</body>
</html>